<p>This is child component!</p>
<!-- data from child.com.ts file{{}} -->

<!-- Below data get from parent:
{{GetDataFromParentUserName}} -->

<input [(ngModel)]="GetDataFromParentUserName" >
<br>
<br>

<button (click)="PassDataToParentButton()">Pass Data To Parent</button>

<!-- //switchcase ex -->
<div [ngSwitch]="role">
    <div *ngSwitchCase="'admin'">Welcome, Admin! You have full access.</div>
    <div *ngSwitchCase="'user'">Welcome, User! You have limited access.</div>
    <div *ngSwitchCase="'guest'">Welcome, Guest! Please log in to access more features.</div>
    <div *ngSwitchDefault>Unknown role. Please contact support.</div>
  </div>
  